Source: slurm-llnl-misc-plugins
Priority: optional
Maintainer: Mehdi Dogguy <mehdi@debian.org>
Build-Depends:
 debhelper (>= 8)
Standards-Version: 3.9.5
Section: doc

Package: slurm-llnl-generic-scripts-plugin
Architecture: all
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: Generic Prolog and Epilog scripts for Slurm
 The job scheduler Slurm can execute so called Prolog and Epilog scripts
 at different stages of each job. For each stage, one script has to appear
 in Slurm's configuration file.
 .
 This package provides a generic script that can be linked to in order to
 behave as a (Pro|Epi)log script using an associated (Pro|Epi)log.d directory
 next to it. The latter should contain executable scripts that will be run
 for the specified stage.

Package: slurm-llnl-job-submit-plugin
Architecture: all
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 slurm-wlm-basic-plugins (>= 14.11),
 python
Description: Lua plugin for routing jobs in approriate defined QOSes
 This package provides a lua script for routing jobs in appropriate QOSes
 depending on the compute resources asked by the job.

Package: slurm-llnl-node-health-plugin
Architecture: all
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 slurm-wlm-basic-plugins,
 members,
 infiniband-diags
Description: Node health script for compute node
 This package provides a shell script which checks some critical aspects
 of compute node system configuration and take them out of the production
 if something is wrong.

Package: slurm-llnl-setup-mysql
Architecture: all
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 python,
 python-mysqldb
Description: MySQL setup script for SlurmDBD
 This package provides a Python script which setup MySQL server, creates the
 databases and gives all needed grants to the slurm user of SlurmDBD. It is
 designed to be idempotent by doing only what is needed. This makes it
 eventually usable within Puppet manifests for instance.
