#!/usr/bin/make -f
# -*- makefile -*-

export DESTDIR := $(CURDIR)/debian/tmp

%:
	dh $@


override_dh_fixperms:
	dh_fixperms
	chmod 0700 $(CURDIR)/debian/slurm-unkstep-program/usr/lib/slurm/exec/unkillable-step-program
	

